In [3]:
print('hello world')

hello world

In [25]:
my_string = 'sdfsfsdfsadfdfgdsfg'
my_int = 3457
my_float = 7.9123

In [26]:
my_string2 = 'uyiyuiyuiyuiyui'
my_int2 = 8
my_float2 = 7.0

In [27]:
my_string[0:4]+my_string2[0:5]

'sdfsuyiyu'

In [29]:
my_int2*my_int

27656

In [35]:
my_int2%7

1

In [45]:
my_float2

3.0

In [49]:
len(my_string)

19

In [51]:
my_bool = True
my_boolf = False

In [54]:
if my_boolf:
    print(4)

In [61]:
True + True

2

In [68]:
1 == True

True

In [70]:
'z' in 'abfgrt'

False

In [71]:
my_boolean = ((3*3*3)==(3**3))
another_boolean = ((3*2)==(5*1))
and_another_boolean = (4 == 6)

In [73]:
another_boolean

False

In [74]:
my_list = [2, 5, 8, 'a',5.7,True,'ffssd']

In [75]:
my_list[0]

2

In [76]:
my_list[1]

5

In [77]:
my_list[0:5]

[2, 5, 8, 'a', 5.7]

In [79]:
my_list[3:7]

['a', 5.7, True, 'ffssd']

In [82]:
my_list[3:14]

['a', 5.7, True, 'ffssd']

In [85]:
my_list[15]

IndexError: list index out of range

In [86]:
if 'a' in my_list:
    print('a in my list')

a in my list

In [106]:
def check_for_element(blah,blahblah):
    if blah in blahblah:
        print(str(blah)+' in my list')
    else:
        print(str(blah)+' NOT in my list')

In [108]:
check_for_element(8,my_list)

8 in my list

In [109]:
len(my_list)

7

In [110]:
my_list.append(91)

In [111]:
print(my_list)

[2, 5, 8, 'a', 5.7, True, 'ffssd', 91]

In [112]:
my_list.append([4,8,1])

In [113]:
my_list

[2, 5, 8, 'a', 5.7, True, 'ffssd', 91, [4, 8, 1]]

In [114]:
len(my_list)

9

In [125]:
for i in my_list:
    print(i)

2
5
8
a
5.7
True
ffssd
91
[4, 8, 1]

In [126]:
my_dictionary = {'name': 'Bob','profession':'doctor','city':'London','age':47}

In [133]:
for i in my_dictionary:
    print(str(i)+ ':' + str(my_dictionary[i]))

name:Bob
profession:doctor
city:London
age:47

In [136]:
my_dictionary['city']

'London'

In [137]:
#updating the dictionary
my_dictionary['city']='Glasgow'

In [138]:
my_dictionary

{'name': 'Bob', 'profession': 'doctor', 'city': 'Glasgow', 'age': 47}

In [139]:
my_dictionary['Education'] = {'undergrad':'UofT','med school':'UBC'}

In [140]:
my_dictionary

{'name': 'Bob',
 'profession': 'doctor',
 'city': 'Glasgow',
 'age': 47,
 'Education': {'undergrad': 'UofT', 'med school': 'UBC'}}

In [143]:
data_dictionary = {'variable1':[1,3,7,9.0,8],'variable2':[1,0,0,1,0],'variable3':[3,7,9,1,0]}

In [144]:
data_dictionary

{'variable1': [1, 3, 7, 9.0, 8],
 'variable2': [1, 0, 0, 1, 0],
 'variable3': [3, 7, 9, 1, 0]}

In [149]:
tracker = 0
while tracker <= :
    print(tracker)
    tracker = tracker + 1

0
1
2
3
4
5
6
7
8
9