In [3]:
print('hello world')

hello world

In [25]:
my_string = 'sdfsfsdfsadfdfgdsfg'
my_int = 3457
my_float = 7.9123

In [26]:
my_string2 = 'uyiyuiyuiyuiyui'
my_int2 = 8
my_float2 = 7.0

In [27]:
my_string[0:4]+my_string2[0:5]

'sdfsuyiyu'

In [29]:
my_int2*my_int

27656

In [35]:
my_int2%7

1

In [45]:
my_float2

3.0

In [49]:
len(my_string)

19

In [51]:
my_bool = True
my_boolf = False

In [54]:
if my_boolf:
    print(4)

In [61]:
True + True

2

In [68]:
1 == True

True

In [70]:
'z' in 'abfgrt'

False

In [71]:
my_boolean = ((3*3*3)==(3**3))
another_boolean = ((3*2)==(5*1))
and_another_boolean = (4 == 6)

In [73]:
another_boolean

False

In [74]:
my_list = [2, 5, 8, 'a',5.7,True,'ffssd']

In [75]:
my_list[0]

2

In [76]:
my_list[1]

5

In [77]:
my_list[0:5]

[2, 5, 8, 'a', 5.7]

In [79]:
my_list[3:7]

['a', 5.7, True, 'ffssd']

In [82]:
my_list[3:14]

['a', 5.7, True, 'ffssd']

In [85]:
my_list[15]

IndexError: list index out of range

In [86]:
if 'a' in my_list:
    print('a in my list')

a in my list

In [106]:
def check_for_element(blah,blahblah):
    if blah in blahblah:
        print(str(blah)+' in my list')
    else:
        print(str(blah)+' NOT in my list')

In [108]:
check_for_element(8,my_list)

8 in my list

In [109]:
len(my_list)

7

In [110]:
my_list.append(91)

In [111]:
print(my_list)

[2, 5, 8, 'a', 5.7, True, 'ffssd', 91]

In [112]:
my_list.append([4,8,1])

In [113]:
my_list

[2, 5, 8, 'a', 5.7, True, 'ffssd', 91, [4, 8, 1]]

In [114]:
len(my_list)

9

In [125]:
for i in my_list:
    print(i)

2
5
8
a
5.7
True
ffssd
91
[4, 8, 1]

In [126]:
my_dictionary = {'name': 'Bob','profession':'doctor','city':'London','age':47}

In [133]:
for i in my_dictionary:
    print(str(i)+ ':' + str(my_dictionary[i]))

name:Bob
profession:doctor
city:London
age:47

In [136]:
my_dictionary['city']

'London'

In [137]:
#updating the dictionary
my_dictionary['city']='Glasgow'

In [138]:
my_dictionary

{'name': 'Bob', 'profession': 'doctor', 'city': 'Glasgow', 'age': 47}

In [139]:
my_dictionary['Education'] = {'undergrad':'UofT','med school':'UBC'}

In [140]:
my_dictionary

{'name': 'Bob',
 'profession': 'doctor',
 'city': 'Glasgow',
 'age': 47,
 'Education': {'undergrad': 'UofT', 'med school': 'UBC'}}

In [143]:
data_dictionary = {'variable1':[1,3,7,9.0,8],'variable2':[1,0,0,1,0],'variable3':[3,7,9,1,0]}

In [144]:
data_dictionary

{'variable1': [1, 3, 7, 9.0, 8],
 'variable2': [1, 0, 0, 1, 0],
 'variable3': [3, 7, 9, 1, 0]}

In [149]:
tracker = 0
while tracker < 10:
    print(tracker)
    tracker = tracker + 1

0
1
2
3
4
5
6
7
8
9

In [150]:
pwd

'C:\\Users\\wedwa\\OneDrive\\Documents\\sept_13_repo_morning'

In [151]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [152]:
today_data = pd.read_csv('Countries_of_the_world_1970 - imputed_international_data_70 (1).csv')

In [153]:
today_data

,Entity,indiv_libs_vdem_owid,electdem_vdem_owid,libdem_vdem_owid,Countries,Economic.Freedom.Summary.Index,Government.consumption,Transfers.and.subsidies,Government.investment,State.ownership.of.assets,...,Centralized.collective.bargaining,Hours.Regulations,Conscription,Labor.market.regulations,Impartial.Public.Administration,Regulation,alliance,regimenarrowcat,Regime_type,id
0,Afghanistan,0.266,0.160,0.104,NaN,5.506573,6.393604,8.740967,5.519734,5.025106,...,5.897546,5.932564,2.392234,4.700103,4.887146,4.776903,not a US ally,8.0,Monarchy,1
1,Albania,0.006,0.173,0.055,Albania,3.713222,3.170575,8.262926,-0.627520,0.180000,...,4.220652,4.846848,0.000000,4.215714,1.750000,3.230021,not a US ally,4.0,Single-party rule,2
2,Algeria,0.428,0.084,0.065,Algeria,4.680000,5.540000,9.322154,7.320000,2.490000,...,5.540452,6.185718,3.000000,4.572435,3.910000,3.630000,not a US ally,7.0,Military rule,3
3,Angola,0.024,0.010,0.035,Angola,4.547754,6.109553,8.385527,4.949296,3.180000,...,4.641346,5.671838,0.536243,3.955813,2.370000,3.778725,not a US ally,NaN,unknown,4
4,Argentina,0.354,0.105,0.086,Argentina,5.980000,7.930000,8.006018,8.187808,6.150000,...,5.180000,5.720000,0.000000,3.630000,2.420000,5.310000,US ally,7.0,Military rule,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,United Arab Emirates,NaN,NaN,NaN,United Arab Emirates,5.318299,6.321991,7.942938,6.984351,5.128654,...,4.578971,5.804901,-1.635512,3.297957,4.408227,4.057185,not a US ally,NaN,unknown,178
178,"Bahamas, The",NaN,NaN,NaN,"Bahamas, The",6.444528,7.929654,9.750000,8.271012,7.359644,...,7.506363,6.864895,6.740750,6.570836,6.959719,6.624903,not a US ally,NaN,unknown,179
179,Belize,NaN,NaN,NaN,Belize,6.552629,6.550790,8.277202,6.172708,6.257622,...,6.498267,5.631109,4.938871,5.273427,6.551369,5.902861,not a US ally,NaN,unknown,180
180,Brunei Darussalam,NaN,NaN,NaN,Brunei Darussalam,5.429512,6.567417,8.823056,5.877209,5.083315,...,5.809336,6.037126,1.554685,4.469860,4.482676,4.579663,not a US ally,NaN,unknown,181
181,Montenegro,NaN,NaN,NaN,Montenegro,5.034850,6.090277,9.203655,3.880783,4.024726,...,6.080078,5.883605,3.366051,5.037536,4.246232,4.497032,not a US ally,4.0,Single-party rule,182

In [156]:
today_data.head(10)

,Entity,indiv_libs_vdem_owid,electdem_vdem_owid,libdem_vdem_owid,Countries,Economic.Freedom.Summary.Index,Government.consumption,Transfers.and.subsidies,Government.investment,State.ownership.of.assets,...,Centralized.collective.bargaining,Hours.Regulations,Conscription,Labor.market.regulations,Impartial.Public.Administration,Regulation,alliance,regimenarrowcat,Regime_type,id
0,Afghanistan,0.266,0.160,0.104,NaN,5.506573,6.393604,8.740967,5.519734,5.025106,...,5.897546,5.932564,2.392234,4.700103,4.887146,4.776903,not a US ally,8.0,Monarchy,1
1,Albania,0.006,0.173,0.055,Albania,3.713222,3.170575,8.262926,-0.627520,0.180000,...,4.220652,4.846848,0.000000,4.215714,1.750000,3.230021,not a US ally,4.0,Single-party rule,2
2,Algeria,0.428,0.084,0.065,Algeria,4.680000,5.540000,9.322154,7.320000,2.490000,...,5.540452,6.185718,3.000000,4.572435,3.910000,3.630000,not a US ally,7.0,Military rule,3
3,Angola,0.024,0.010,0.035,Angola,4.547754,6.109553,8.385527,4.949296,3.180000,...,4.641346,5.671838,0.536243,3.955813,2.370000,3.778725,not a US ally,NaN,unknown,4
4,Argentina,0.354,0.105,0.086,Argentina,5.980000,7.930000,8.006018,8.187808,6.150000,...,5.180000,5.720000,0.000000,3.630000,2.420000,5.310000,US ally,7.0,Military rule,5
5,Armenia,0.094,0.102,0.024,Armenia,4.543790,6.061647,9.695219,2.974573,3.267026,...,6.120053,5.976917,3.102853,5.022989,3.191819,4.010850,not a US ally,4.0,Single-party rule,6
6,Australia,0.980,0.860,0.807,Australia,7.560000,6.170000,6.968283,10.000000,7.380000,...,5.180000,5.321900,0.000000,4.346862,9.760000,5.720000,US ally,0.0,Democracy,7
7,Austria,0.949,0.843,0.728,Austria,6.610000,5.450000,6.070000,7.820000,4.780000,...,4.490000,5.010000,0.000000,3.170000,8.060000,5.160000,not a US ally,0.0,Democracy,8
8,Azerbaijan,0.094,0.102,0.024,Azerbaijan,4.562497,6.062738,9.676493,3.009096,3.295890,...,6.118530,5.973363,3.112880,5.023543,3.231987,4.029372,not a US ally,4.0,Single-party rule,9
9,Bahrain,0.449,0.024,NaN,Bahrain,5.990742,7.066136,9.231391,7.644778,2.550000,...,6.308791,6.602108,-1.105166,3.916456,5.160000,4.570043,not a US ally,NaN,unknown,10

In [157]:
today_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 43 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                182 non-null    object
 1   indiv_libs_vdem_owid                                  177 non-null    float64
 2   electdem_vdem_owid                                    177 non-null    float64
 3   libdem_vdem_owid                                      175 non-null    float64
 4   Countries                                             165 non-null    object
 5   Economic.Freedom.Summary.Index                        182 non-null    float64
 6   Government.consumption                                182 non-null    float64
 7   Transfers.and.subsidies                               182 non-null    float64
 8   Government.investment                                 182 non-null    float64
 9   State.ownership.of.assets                             182 non-null    float64
 10  Size.of.Government                                    182 non-null    float64
 11  Judicial.independence                                 182 non-null    float64
 12  Impartial.courts                                      182 non-null    float64
 13  Integrity.of.the.legal.system                         182 non-null    float64
 14  Legal.enforcement.of.contracts                        182 non-null    float64
 15  Gender.Legal.Rights.Adjustment                        182 non-null    float64
 16  Legal.System...Property.Rights                        182 non-null    float64
 17  Money.growth                                          182 non-null    float64
 18  Standard.deviation.of.inflation                       182 non-null    float64
 19  Inflation..Most.recent.year                           182 non-null    float64
 20  Freedom.to.own.foreign.currency.bank.accounts         182 non-null    float64
 21  Sound.Money                                           182 non-null    float64
 22  Revenue.from.trade.taxes....of.trade.sector.          182 non-null    float64
 23  Tariffs                                               182 non-null    float64
 24  Black.market.exchange.rates                           182 non-null    float64
 25  Financial.Openness                                    182 non-null    float64
 26  Capital.controls                                      182 non-null    float64
 27  Controls.of.the.movement.of.capital.and.people        182 non-null    float64
 28  Freedom.to.trade.Internationally                      182 non-null    float64
 29  Ownership.of.banks                                    182 non-null    float64
 30  Private.sector.credit                                 182 non-null    float64
 31  Interest.rate.controls.negative.real.interest.rates.  182 non-null    float64
 32  Credit.market.regulations                             182 non-null    float64
 33  Centralized.collective.bargaining                     182 non-null    float64
 34  Hours.Regulations                                     182 non-null    float64
 35  Conscription                                          182 non-null    float64
 36  Labor.market.regulations                              182 non-null    float64
 37  Impartial.Public.Administration                       182 non-null    float64
 38  Regulation                                            182 non-null    float64
 39  alliance                                              182 non-null    object
 40  regimenarrowcat                                       161 non-null    float64
 41  Regime_type                                           182 non-null    object
 42  id                                                    182 non-null    int64
dtypes: float64(38), int64(1), object(4)
memory usage: 61.3+ KB

In [163]:
today_data['Entity']

0    Afghanistan
1        Albania
2        Algeria
3         Angola
4      Argentina
5        Armenia
6      Australia
7        Austria
8     Azerbaijan
9        Bahrain
Name: Entity, dtype: object

In [165]:
today_data['indiv_libs_vdem_owid 100'] = today_data['indiv_libs_vdem_owid']*100

In [166]:
today_data['indiv_libs_vdem_owid 100']

0      26.6
1       0.6
2      42.8
3       2.4
4      35.4
       ...
177     NaN
178     NaN
179     NaN
180     NaN
181     NaN
Name: indiv_libs_vdem_owid 100, Length: 182, dtype: float64

In [167]:
today_data.to_csv('testcsv')

In [170]:
5.0 != 5

False

In [173]:
num1 = 7
num2 = 7

In [174]:
if num1 != num2:
    print(num1)